* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: 'Segoe UI';
    box-sizing: border-box;
    background: #18191a;
    overflow-x: hidden;
}

.navbar {
    background: #242526;
    width: 100vw;
    padding: 0 20px 0 20px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 2px -2px rgba(255, 255, 255, 0.4);
}

.navbar_left { 
    width: 25%;
    display: flex;
    align-items: center;
}

.navbar_logo { 
    width: 45px;
    height: 45px;
    margin-right: 5px;
}


.input-icons {  
    width: 100%;   
}

.input-icons i { 
    position: absolute;
}

.icon { 
    padding: 13px 10px;
    color: #a8abaf;
    min-width: 20px;
    text-align: center;
    margin-right: 20px;   
}

.input-field {
    width: 50%;
    padding: 12px 0 12px 35px;
    background: #3a3b3c;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    color: #a8abaf;
}

.input-field:focus { 
    outline: none;
}

::placeholder {
    color: #a8abaf;
}

.navbar_center { 
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_center a {
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: 0.2s;
}

.navbar_center a:hover { 
    background: #3a3b3c;
    border-radius: 10px;
    height: 55px;
    border: none;
}

.active_icon { 
    border-bottom: 3px solid #2d88ff;
}

.active_icon i { 
    color: #2d88ff !important;
}

.navbar a, .navbar a i {
    text-decoration: none;
    color: #b8bbbf;
    font-size: 23px;
}

.navbar_right { 
    width: 25%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 45px;
}

.navbar_right_profile { 
    display: flex;
    align-items: center;
    height: 40px;
    margin-right: 20px;
    transition: 0.2s;
}

.navbar_right_profile img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.navbar_right_profile span { 
    color: #e7e9ed;
    font-size: 15px;
    font-weight: 500;
}

.navbar_right_links i { 
    margin-right: 5px;
    background: #404041;
    padding: 12px;
    border-radius: 100%;
    color: #e7e9ed;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}

.navbar_right_links i:hover {
    background: #4e4f50;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content { 
    display: flex;
    justify-content: space-between;
}

.content_left {
    width: 25%;
    height: 100vw;
    padding-left: 10px;
}

.content_center { 
    width: 40%;
    text-align: center;
    height: 100%;
    margin-top: 30px;
}

.content_right { 
    width: 25%;
    height: 100%;
    display: flex;
}

.content_left ul {
    margin: 0;
    list-style: none;
    padding: 25px 0;
}

.content_left ul li {
    padding: 0 15px;
    margin-bottom: 15px;
}

.content_left ul li a {

    text-decoration: none;
    display: flex;
    align-items: center;
    color: #e7e9ed;
    font-weight: 500;
    font-size: 15px;
}

.content_left ul li i {
    background: #404041;
    padding: 10px;
    border-radius: 100%;
    color: #e7e9ed;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    margin-right: 10px;
}

.see_more { 
    color: #e7e9ed;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
}

.content_left ul li a img {
    width: 37px;
    margin-right: 10px;
    border-radius: 50%;
}

.border {
    margin-left: 20px;
    width: 320px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.08);
    border-width: 1px;
}

.shortcut_title {
    margin: 15px 20px;
    color: #e7e9ed;
    font-size: 17px;
    font-weight: 500;
}

.shortcuts_wrapper {
    padding: 0 15px;
}

.shortcuts_wrapper a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #e7e9ed;
    font-weight: 500;
    font-size: 15px;
}

.shortcuts_wrapper a img { 
    width: 37px;
    margin-right: 10px;
    border-radius: 50%;
}

.stories {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}


.storie-card {
    width: 120px;
    height: 200px;
    cursor: pointer;
}

.storie-card:hover {
    transform: scale(1.01);
    opacity: 0.8;
}


.stories .pp {
    border-radius: 50%;
    border: 4px solid blue;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
}

.stories .name {
    position: absolute;
    margin-top: 155px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-left: 4px;
}

.stories .background {
    border-radius: 8px;
}


.media_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.share {
    height: auto;
    width: 100%;
    background: #242526;
    border-radius: 8px;
    margin-bottom: 25px;
}

.share_upSide {
    display: flex;
    padding: 10px;
}

.share_upSide img {
    border-radius: 50%;
    cursor: pointer;
}

.share_upSide input {
    width: 100%;
    margin: 0 10px;
    border-radius: 20px;
    border: none;
    background: #4E4F50;
    padding-left: 15px;
}

.share_upSide input:focus { 
    outline: none;
}

.share_upSide input::placeholder {
    color: #a8abaf;
    font-size: 18px;
}

.share_downSide {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.share_downSide {
    padding: 10px 0;
}

.share_downSide_link {
    cursor: pointer;
    padding: 10px 40px;
    border-radius: 10px;
}

.share_downSide_link:hover {
    background: #3A3B3C;
}


.share_downSide span {
    color: #a8abaf;
    font-size: 20px;
}

.share_downSide i {
    font-size: 20px;
}

.live-video-icon {
    color: #E42645;
}

.photo-video-icon {
    color: #41b35d;
}

.feeling-icon {
    color: #EAB026;
}


.news_feed {
    width: 100%;
    height: auto;
    background: #242526;
    border-radius: 15px;
    margin-bottom: 20px;
}

.news_feed_title {
    display: flex;
    padding: 15px;
}


.news_feed_title img {
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.news_feed_title_content {
    display: flex;
    flex-direction: column;
}

.news_feed_title_content p {
    font-weight: 600;
    cursor: pointer;
    color: #fff;
}


.news_feed_title_content p:hover {
    text-decoration: underline;
}

.news_feed_title_content span {
    display: flex;
    color: #606770;
    font-weight: 500;
}

.news_feed_title_content span i {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.news_feed_description {
    display: flex;
    flex-direction: column;
}

.news_feed_description img {
    cursor: pointer;
}

.news_feed_subtitle {
    color: #fff;
    padding: 0 15px 15px;
    text-align: start;
}

.news_feed_reactions {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}

.news_feed_reactions span {
    color: #65676B;
}

.reactions_left i {
    font-size: 25px;
    cursor: pointer;
}

.reactions_left span:hover {
    cursor: pointer;
    text-decoration: underline;
}


.reactions_left .fa-thumbs-up {
    color: #036DE3;
}

.fa-laugh-squint {
    color: #F9B441;
    background: black;
    border-radius: 50%;
}

.fa-heart {
    color: #ED2C4C;
}

.reactions-right span {
    color: #65676B;
}

.reactions-right span:hover {
    text-decoration: underline;
    cursor: pointer;
}


.reactions-buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}


.reactions-buttons div {
    cursor: pointer;
    border-radius: 8px;
    padding: 5px 90px;
}

.reactions-buttons div  {
    color: #65676B;
}

.reactions-buttons div:hover {
    background: #3A3B3C;
}

.content_right {
    margin-top: 30px;
    padding-right: 20px;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
}

.birthdays {
    background: #242526;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}

.birthdays span {
    color: #E3E5EA;
}

.birthdays p {
    color: #DEE0E4;
    font-size: 17px;
    margin-left: 20px;
    width: 320px;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
}

.birthdays p:hover {
    background: #3A3B3C;
}

.birthdays-header {
    margin-left: 20px;
}

.birthdays-header .fa-gift {
    font-size: 22px;
    color: #209CFA;
    margin-right: 5px;
}

.birthdays-header .fa-times {
    display: flex;
    float: right;
    color: #B6B8BA;
    margin-right: 20px;
    padding: 8px;
    border-radius: 50%;
}

.birthdays-header .fa-times:hover {
    cursor: pointer;
    background: #F0F2F5;
}


.onlines {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.onlines-header {
    display: flex;
    justify-content: space-between;
}

.onlines-header span {
    color: #626262;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.onlines-header .icons {
    color: #B1B4B7;
    padding: 0 0 0 40px;
}

.onlines-header .icons i {
    padding: 10px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
}

.onlines-header .icons i:hover {
    background: #303031;
}


.online-contents .user {
    padding: 5px 0 5px 5px;
    display: flex;
    margin-bottom: 20px;
    border-radius: 10px;
}

.online-contents .user:hover {
    background: #303031;
}

.online-contents .user span {
    padding: 10px;
    color: #fff;
}

.border-post {
    display: flex;
    width: 720px;
    margin-left: 15px;
    border: 1px solid rgba(255, 255, 255, 0.08)

}